<div class = "errorContainer">
    <h1>111</h1>
    <h2>Redirection vers le site marchand!</h2>
    <!--<button class = "btn btn-large" onClick = "history.back();">Page précédente</button>-->
    <!-- Erreur -->
  </div>

