h2 {
	font: 30px Tahoma, Helvetica, Arial, Sans-Serif;
	margin-left: auto;
  margin-right: auto;
  width:100%;
	color: #ffffff;
  text-shadow: 2px 3px 3px #292929;
  /*letter-spacing: -7px;*/
  -webkit-text-stroke: 1px white;
  -moz-text-stroke: 1px white;
  -o-text-stroke: 1px white;
  /*font-weight: bold;*/
  z-index: 70;
  /*position:absolute;
  top: 5%;*/
}

h3 {
	font: 25px Tahoma, Helvetica, Arial, Sans-Serif;
	margin-left: auto;
  margin-right: auto;
  width:100%;
	color: #00897B;
  /*text-shadow: 1px 2px 2px #292929;
  letter-spacing: -7px;
  -webkit-text-stroke: 1px #00897B;
  -moz-text-stroke: 1px #00897B;
  -o-text-stroke: 1px #00897B;*/
  font-weight: bold;
  z-index: 70;
  /*position:absolute;
  top: 5%;*/
}

h4 {
	font: 16px Tahoma, Helvetica, Arial, Sans-Serif;
	/*margin-left: auto;
  margin-right: auto;
  width:100%;
	color: #080808;
  text-shadow: 2px 3px 3px #292929;
  /*letter-spacing: -7px;
  -webkit-text-stroke: 1px white;
  -moz-text-stroke: 1px white;
  -o-text-stroke: 1px white;*/
  font-weight: bold;
  z-index: 70;
  /*position:absolute;
  top: 5%;*/
}

#wallets_list > a{
  z-index: 100;
}

select{
  /*font-size: 14px;*/
  font: 14px Arial, Sans-Serif;
  color: #00897B;
  /*font-size: 100%;*/
  margin: 0;
  width: 220px;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 4px 6px;
  vertical-align: middle;
  border-radius: 4px;
  /*font-weight: bold;*/
  box-sizing: border-box;
}
