<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Paiement à GUCE</title>
<%= stylesheet_link_tag "guce", media: "all", "data-turbolinks-track" => true %>

<%= javascript_include_tag "guce", "data-turbolinks-track" => true %>
</head>

<body id="payment">
  <header></header>
  <div id="top" class="clearfix container">
	  <div>
    	<a id="logo_styled" href="https://guce.gouv.ci/"></a>
    </div>
	  <div class="pull-right">
    </div>
  </div>

  <article>
	  <div class="container">
    	<div class="title-bar">Paiement à GUCE</div>
    </div>

	  <div class="container page">
	    <%= yield %>
	  </div>

	  <div class="container">
    	<div class="bottom2">Powered by GUCE</div>
    </div>
  </article>
</body>
